.container-fluid{
    background-color: #10BBB3 !important;
    padding: 80px 20px;
    height: 100vh;
    font-family: 'Handlee', cursive;
    .logOut{
        color:#10BBB3 ;
        margin: 20px;
        background-color: #fff !important;
    }

    .container{
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        .header{
            background-color: turquoise;
            padding: 10px;
            font-family: 'Handlee', cursive;
            color: #fff;
            font-weight: 800;
            width: 50%;
            margin: auto;
            border-radius: 4px;

        }
        
    }
}