<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image-con p-3">
                    <img class="img-fluid" src="../assets/hassan's image classic.jpeg" alt="">

                </div>
            </div>
            <div class="col-md-6">
                <div class="info-con p-3">
                    <h2>About me:</h2>
                    <div class="container">
                        <p> Name: <span>hassan hilal</span></p>
                        <p> Email: <span>hassanhilal683@gmail.com </span></p>
                        <p> WhatsApp: <span><a target="blank" href="https://api.whatsapp.com/send?phone=+201094454829">
                                    +20 1094454829</a> </span></p>
                        <p> Phone: <span><a href="tel:+201094454829">+201094454829</a> </span></p>
                        <p> Jop Title : <span> Full Stack Developer (MEAN Stack) </span></p>
                        <p> <button class="btn btn-dark"><a
                                    href="../../assets/Hassan Kordi __ Full Stack Developer (Mean Stack).pdf" download
                                    rel="noopener noreferrer" target="_blank">
                                    Download CV
                                </a></button></p>


                    </div>

                </div>
                <div class="app-info-con p-3">
                    <h2>About The App :</h2>
                    <div class="container">
                        <p>this app is in a high level of privacy feel free to set your personal information</p>
                        <p>there is no one can know the message sender</p>
                        <p>this app protects your personal information</p>
                        <p>you can create an account and enjoy the app for free</p>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="container">
        <div class="d-flex justify-content-center p-5">
            <button routerLink='/login' class="btn btn-dark router-btn">Login</button>
            <button routerLink='/regester' class="btn btn-dark router-btn">Register</button>
        </div>

    </div>

</section>